
/* ---- CSS concernant tout le site ---- */
a:link{
    text-decoration: none;
}
body{
    max-width: 1140px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 100%;
}


/* ---- CSS Header ---- */
@media (max-width: 576px) {
    .header{
        text-align: center;
    }
    .logo img{
        width:150px;
        margin-bottom: 5px;
    }
    .nom_assoc{
        font-weight: bold;
    }
    .adresse{
        font-size: 0.9em;
        margin-bottom: 5px;
    }
}

@media (min-width: 577px) {
    .header {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows:  auto;
        text-align: center;
    }
    .logo {
        margin: 20px;
        grid-column: 1 / 2;
        grid-row: 1 / 3;
    }
    .nom_assoc{
        grid-column: 2 / 4;
        grid-row: 1 / 2;
        margin: auto;
        font-size: 1.2em;
        font-weight: bold;
    }
    .adresse{
        grid-column: 2 / 4;
        grid-row: 2 / 3;
        margin: auto;
    }
}

/* ---- Navbar ---- */
.navbar {
    background-color:#a31919;  
    position:absolute;
    z-index:1000;
}
@media (max-width: 576px) {
    .navbar{
        width:100%;
    }
}

.navbar-toggler:focus{
    box-shadow: none;
    border-color: white;
}
.navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.nav-link{
    color:white;
}
.nav-link:hover{
    color:black;
}
.active .nav-link{
    font-weight: bold;
}

/* ---- Main ---- */
h1{
    font-size: 8vw;
    margin-top: 25%;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 0 10px 0 10px;
    border-radius: 5px;
}
@media (max-width: 576px) {
    .img-main{
        margin-top:55px;
    } 
    
}
@media (min-width: 577px) {
    h1{
        font-size:4em;
    }
}
.image-principale{
    display: block;
    display: flex;
    box-align: center;
    align-items: center;
    box-pack: center;
    justify-content: center;
}
.img-main{
    position:relative;
}
.img-actu{
    border-radius: 3px;
    display: flex;
    margin: auto;
}

.text-main{
    position:absolute;
    color: white;
    text-align: center;
}

h2 { 
    color: #a31919;  
    font-size: 18px; 
    font-weight: bold; 
    line-height: 22px; 
    margin: 14px 0 14px; 
    border-bottom: 1px solid black;
    background-color: lightgrey;
}

.card-body{
    padding: 0.7rem 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.card-title{
    font-weight: bold;
}
.card-button{
    margin-bottom:0;
    position:absolute;
    bottom: 10px;
}
.card-text{
    margin-bottom:50px;
}

.btn-primary{
    background-color: #a31919;
    border-color:lightpink
}
.btn-primary:hover{
    background-color: white;
    border-color: #a31919;
    color: #a31919;
}